* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

/* CSS FORM  */
.form-subrice {
    background-color: rgba(54, 68, 63);
    justify-content: center;
    margin: 20% 20%;
    padding: 2%;
    border-radius: 6px;
    justify-content: center;
    color: white;
}

.form-subrice span {
    color: rgb(242, 169, 59);
}

h1 {
    margin-bottom: 18px;
}

.form-subrice p {
    line-height: 24px;
    margin-bottom: 20px;
}

.form-subrice input {
    padding: 10px;
    width: 14rem;
    outline: none;
    border: none;
    border-radius: 2px;
}

.form-subrice button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    width: 12rem;
    color: black;
    background-color: #F8DB35;
    cursor: pointer;
}


/* hover */

.form-subrice:hover input[type="email"]::placeholder {
    color: #f2a93b;
}

.form-subrice:hover input[type="email"] {
    color: gray;
    background-color: #ddd;
}

.form-subrice:hover button {
    background-color: #f2a93b;
    color: #fff;
}